*.gif
*.h5
*.png
*.pyc
*.xml
*.yml
outdir/
.idea
.vscode
*.log
*.pstats
*.svg
*.html
fil-result/
*.txt
.git/
.idea/
.ipynb_checkpoints/
.vscode/
*.pdf
*.tex
*.json
*.pickle
*.log